version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: skillzone_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: skillzone
    ports:
      - "5400:5432"
    volumes:
      - /Users/parashar/MAIN/E_LEARNING/dockerData/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: skillzone_adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
